

body {
	font-family: "Nunito";
	font-size: 17px;
}

/*NAVBAR*/

nav a {

	color: black;
	font-family: "Raleway";
	font-size: 1.4em;
	justify-items: end;

}

#navigation {
	top: 0px;
	padding: 0px 16px;
	justify-items: end;
	position: fixed;
	z-index: 1;
	width: 100vw;
	opacity: 0.93;
}

a>img {
	height: 50px;
	width: auto;
}

/*HEADER*/

#header {
	top: 42px;
	background-size: 100% auto;
	background-image: url(img/lisc.jpg);
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 30px;
}

#intro {
	text-align: end;
	color: white;
	font-family: "Century Gothic";
	font-size: 10rem;
	letter-spacing: 0.1em;
	font-weight: 250;
}

/*ANIMACJA*/

@keyframes slide {
	0% {
		left: 0%;}
	100% {
		left: 100%;
	}
}

/*jak sprawić, żeby przesunięty prostokąt nie rozwijał poziomego scrolla??*/
header img{
	height: 422px;
	width: 100%;
	object-fit: cover;
	position: absolute;
	animation-name: slide;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	overflow-x: hidden;

}

/*NAGŁÓWKI*/

#about, #contact, #skills
 {
	text-align: center;
	height: 100px;
	background-color: #D6D6D6;
	font-family: "Raleway";
	line-height: 100px;
	font-size: 2.7rem;
	width: 100%;
}

#portfolio{
	text-align: center;
	height: 100px;
	background-color: #D6D6D6;
	font-family: "Raleway";
	height: 100px;
	line-height: 100px;
	font-size: 2.7rem;	
}

/*ABOUT*/

#aboutimg img{
	border-radius: 100%;
	height: 300px;
	width: auto;
	display: block;
	margin: 50px auto;
}


p{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}

#aboutola{
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

h3 {
	font-weight: normal;
	text-align: center;
	font-family: "Raleway";
}

/*SKILLS*/

h4{
	text-align: center;
}

#design{
	display: block;
	margin-top:auto;
	margin-bottom: auto;
	text-align: center;
	padding: 0px 30px;
}

#skill{
	margin-top: 50px;
	margin-bottom: 50px;
}

#skill img{
	border-radius: 100%;
	height: 300px;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*PORTFOLIO*/

#port, #portwhite{
	position: relative;
}

#port img, #portwhite img{
	width: 100%;
	min-height: 200px;
	object-fit: cover;
}

#port h3{
	position:absolute;
	z-index:2;
	color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#portwhite h3{
	position:absolute;
	z-index:2;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*CONTACT*/

#mail p{
	margin-top: 40px;
	margin-bottom: 25px;
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 1.1em;
}

#find{
	text-align: center;

}

.icon-github-circled,
.icon-linkedin-circled,
.icon-instagram,
.icon-facebook-circled {

	color: black;
	font-size: 50px;

}

/*RESPONSYWNOSC*/

@media (max-width: 575px){

	

	p{
		margin: 30px 40px;
	}

	#intro{
		font-size: 5rem;
	}
}

@media (max-width: 749px) and (min-width: 574px) {

	#intro {
		font-size: 6.5rem;
}
	#design{
		margin: 50px;
	}
}

@media (max-width: 900px) and (min-width: 750px){

	#intro {
		font-size: 8rem;
	}

	#aboutimg img{
		margin-left: 0px;
	}

	
}